<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>e_commerce_website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_servelet</display-name>
    <servlet-name>Login_servelet</servlet-name>
    <servlet-class>servelet.Login_servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servelet</servlet-name>
    <url-pattern>/utilisateur-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilisateur_login</display-name>
    <servlet-name>Utilisateur_login</servlet-name>
    <servlet-class>servelet.Utilisateur_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateur_login</servlet-name>
    <url-pattern>/Utilisateur_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servelet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>servelet.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServelet</display-name>
    <servlet-name>LogoutServelet</servlet-name>
    <servlet-class>servelet.LogoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServelet</servlet-name>
    <url-pattern>/LogoutServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServelet</display-name>
    <servlet-name>RegisterServelet</servlet-name>
    <servlet-class>servelet.RegisterServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServelet</servlet-name>
    <url-pattern>/RegisterServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierServelet</display-name>
    <servlet-name>PanierServelet</servlet-name>
    <servlet-class>servelet.PanierServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServelet</servlet-name>
    <url-pattern>/PanierServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAuPanierServelet</display-name>
    <servlet-name>AjouterAuPanierServelet</servlet-name>
    <servlet-class>servelet.AjouterAuPanierServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAuPanierServelet</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncrDecr</display-name>
    <servlet-name>IncrDecr</servlet-name>
    <servlet-class>servelet.IncrDecr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncrDecr</servlet-name>
    <url-pattern>/quantity-incr-decr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerDuPanierServelet</display-name>
    <servlet-name>SupprimerDuPanierServelet</servlet-name>
    <servlet-class>servelet.SupprimerDuPanierServelet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>servelet.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeServelet</display-name>
    <servlet-name>CommandeServelet</servlet-name>
    <servlet-class>servelet.CommandeServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeServelet</servlet-name>
    <url-pattern>/CommandeServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServelet</display-name>
    <servlet-name>CheckoutServelet</servlet-name>
    <servlet-class>servelet.CheckoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServelet</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnulerServelet</display-name>
    <servlet-name>AnnulerServelet</servlet-name>
    <servlet-class>servelet.AnnulerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnulerServelet</servlet-name>
    <url-pattern>/Annuler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LanguageServelet</display-name>
    <servlet-name>LanguageServelet</servlet-name>
    <servlet-class>servelet.LanguageServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguageServelet</servlet-name>
    <url-pattern>/LanguageServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LanguageServelett</display-name>
    <servlet-name>LanguageServelett</servlet-name>
    <servlet-class>servelet.LanguageServelett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguageServelett</servlet-name>
    <url-pattern>/LanguageServelett</url-pattern>
  </servlet-mapping>
</web-app>